#root {
  background: #f4f3ee;
  margin: 0;
}

.navbar {
  background: #00243d;
}

button {
  background: #ffba08;
  padding: 10px 18px 10px 18px;
  color: #660000;
  font: 600 14px "Poppins", sans-serif;
}

button:hover {
  background-color: #660000;
  color: #ffba08;
}

@media print {
  .print-area {
    width: 850px !important;
  }
}
