:root {
  --dark-color: #212121;
  --light-color: #e0e0e0;
  --dark-blue: #1d3344;
  --red: #660000;
  --yellow: #f5af00;
}

/* Background colors */
#root {
  background: var(--light-color);
}

#print-area {
  background: white;
}

.dark {
  background: var(--dark-color);
}

.light {
  background: var(--light-color);
}

.dark-blue {
  background: var(--dark-blue);
}

/* Text colors */
.blue-text {
  color: var(--dark-blue);
}

.light-text {
  color: var(--light-color);
}

.yellow-text {
  color: var(--yellow);
}

/* Navbar styles */
.navbar {
  background: var(--dark-blue);
}

/* Link styles */
.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Button styles */
button {
  background: var(--yellow);
  padding: 8px 18px 8px 18px;
  color: var(--red);
  font: 600 12px "Poppins", sans-serif;
}

button:hover {
  background-color: var(--red);
  color: var(--yellow);
}

/* Picture styles */
.picture {
  width: 150px;
  border: 3px solid var(--yellow);
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  #print-area {
    max-width: 97%;
    zoom: 93%;
  }

  /* Print text color adjustments */
  .blue-text,
  .light-text,
  .yellow-text {
    color: black !important;
  }

  /* Print background adjustments */
  .light {
    border: 1px solid black;
    background: white;
  }
  .dark {
    border-style: solid none;
    border-width: 1px;
    background: white;
  }
  .dark-blue {
    background: white;
  }

  /* Print badge adjustments */
  .badge {
    padding: 2px 4px !important;
    outline: 1px solid gray;
    outline-offset: -1px;
  }
}
