:root {
  --dark-color: #212121;
  --light-color: #f4f3ee;
  --dark-blue: #00243d;
  --red: #660000;
  --yellow: #ffba08;
}

#root {
  background: var(--dark-color);
  margin: 0;
}

.navbar {
  background: var(--dark-blue);
}

button {
  background: var(--yellow);
  padding: 8px 18px 8px 18px;
  color: var(--red);
  font: 600 12px "Poppins", sans-serif;
}

button:hover {
  background-color: var(--red);
  color: var(--yellow);
}

.print-area {
  background: var(--light-color);
}

@media print {
  .print-area {
    width: 850px !important;
  }
}
